# Object Detection and Tracking Requirements
opencv-python-headless==4.10.0.84
numpy>=1.24.0,<2.0
ultralytics>=8.0.0
PyYAML>=6.0
faiss-gpu>=1.7.2
gradio>=4.0.0
transformers==4.30.2
LMDeploy
bert_score
coloredlogs
json_repair
qwen-vl-utils
scikit-learn
timm
einops
shapely
yacs
tensorboardX
ftfy
prettytable
pymongo 
openai
SceneGraphParser
spacy 
h5py
nltk
djson
ujson
mathz